# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=YOUR_EMAILJS_PUBLIC_KEY
VITE_EMAILJS_SERVICE_ID=YOUR_SERVICE_ID
VITE_EMAILJS_TEMPLATE_ID=YOUR_TEMPLATE_ID

# Google Apps Script
VITE_GOOGLE_APPS_SCRIPT_URL=YOUR_GOOGLE_APPS_SCRIPT_URL

#  6EdEdigLYx6Mw4PMb 


#  gamil id = service_yilgnti

#  tamplet id =  template_3wv9c0o


VITE_EMAILJS_PUBLIC_KEY=6EdEdigLYx6Mw4PMb
VITE_EMAILJS_SERVICE_ID=service_yilgnti
VITE_EMAILJS_TEMPLATE_ID=template_3wv9c0o
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwjeGSwbq9vrh19kfwGCYKvae7rejgSZY4GYJaQjva2irT7tp6DQpXYHoBduRDfYEg/exec