@tailwind base;
@tailwind components;
@tailwind utilities;

   @keyframes slowSpin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .animate-slow-spin {
        animation: slowSpin 60s linear infinite; /* খুব ধীরে ঘুরবে */
      }

